/* ul li:nth-child(3) {
    margin-top: 3rem;
} */

body {
	height: 100vh;
}
.st-emotion-cache-17lntkn .eczjsme5{
	margin-top: 20rem;
}
.navbar {
    background-color: #0056b3 !important;
}

.nav-item {
    margin-right: 15px; /* Adjust spacing between nav items */
}